body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: none;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #ccc;
  }
}